<div fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 10px">
  <button color="primary" mat-flat-button (click)="addComponentHandler()">Add</button>
</div>

<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let component of allComponents$|async; let i= index  " [value]="component">
    <button mat-flat-button color="primary" (click)="componentClickHandler(component)">
      {{component?.componentName}}
    </button>
    <mat-divider vertical="false" *ngIf="(allComponents$|async)?.length !== i+1"></mat-divider>
  </mat-list-option>
</mat-selection-list>

<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="(isLoading$|async) === 'loading'" diameter="50"></mat-spinner>
</div>




